# Cmake
build/

# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Template
*.zip

# Docs
docs/html/
docs/latex/
docs/xml
.pyc
docs/__pycache__
